@charset "utf-8";

.spin{
    transform: rotate(180deg)!important;
    transition: var(--transition1);
}
html{
    scroll-behavior: smooth;
}

.container{
    height: auto;
    border-radius: var(--border1);
    margin: 2em auto;
    overflow-x: hidden;
}
aside{
    background: var(--w);
    height: 100%;
    width: 5vw;
    position: fixed;
    top: 0;
    left: 5%;
    display: flex;
}
.lineAdvancement{
    border-left: 2px solid black;
    height: 70%;
    width: 1px;
    margin: auto;
    position: relative;
}
.circleAdvancement{
    position: absolute;
    top: 0;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 2px solid black;
    background: var(--w);
    z-index: 10;
}
.newCircleAnchors{
    position: absolute;
    top: 0;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 2px solid grey;
    background: var(--w);
    transform: scale(1);
    transition: var(--transition1);
    cursor: pointer;
}
.refreshActus{
    border: none;
    outline: none;
    background: var(--w);
    cursor: pointer;!important;
    border-radius: 50px;
    padding: .8em;
    transform: rotate(0deg);
    transition: var(--transition1);
}

.refreshActus:hover{
    background: var(--w_op);
    transition: var(--transition1);
}
.iconRefreshActus{
    width: 25px;
    height: 25px;
    margin: auto;
}
input{
    display: none;
}
.header,.footer,.tri{
    background: var(--w);
    height: 10vh;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    position: relative;
    gap: 2em;
}
.tri{
    display: grid;
    height: 10vh;
    grid-template-columns: 70% auto;
}

.triSelect,.flux{
    display: flex;
    background: var(--w);
    transition: var(--transition1);
    border-radius: 50px;
    align-content: center;
    gap: 5px;
    align-items: center;
}
.triSelect{
    position: absolute;
    right: 0;
    padding: 0 0 0 15px;
    z-index: 10;
    opacity: .5;
    height: 10vh;
    cursor: not-allowed;
}
.flux{
    gap: .8em;
    overflow: hidden;
}
.contentFlux{
    font-size: 1.2em;
    background: var(--w_op);
    padding: 1em;
    border-radius: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: .5em;
    transition: var(--transition1);
}
input[name="radio"]:checked+.contentFlux{
    border: 2px solid var(--blue);
}
.contentFlux:hover{
    border: 2px solid var(--blue);
}

.iconFlux{
    width: 20px;
    height: 20px;
    margin: auto;
}
.triSelect p{
    margin-right: 1em;
}
.triSort{
    background: var(--w);
    width: 60px;
    /*cursor: pointer;*/
    border-radius: 50px;
    padding: .8em;
    transition: var(--transition1);
    margin: auto;
    cursor: not-allowed;
}
.triSort:hover{
     background: var(--w_op);
     transition: var(--transition1);
 }
.nameActus{
    font-size: 1.2em;
    background: var(--w);
    padding: 1em;
    border-radius: 50px;
    transition: var(--transition1);
}
.nameActus:hover{
    background: var(--w_op);
    transition: var(--transition1);
}
.nameActus a{
    text-decoration: none;
    color: var(--blue);
}
.nameActus a:visited{
    text-decoration: none;
    color: inherit;
}
.footer{
    gap: 2em;
}
.MajContent,.fromBottomToTop{
    display: flex;
    background: var(--w);
    padding: 1em;
    border-radius: 50px;
    align-content: center;
    position: absolute;
    right: 0;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: var(--transition1);
}
.MajContent{
    cursor: auto;
}
.LastMaj{
    color: var(--blue);
}
.fromBottomToTop:hover{
    background: var(--w_op);
    transition: var(--transition1);
}
.content{
    height: auto;
    min-height: 20vh;
    margin-top: 1em;
}

.actusDIV{
    height: auto;
    width: 70%;
    border-radius: var(--border1);
    z-index: 2;
    padding: 1em;
    background: var(--w);
}


.actusDIVALL{
    width: 100%;
    padding: .5em 0;
    display: flex;
    /*opacity: .3;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

.actusDIVParadelete,.actusDIVParalink{
    width: 3vw;
    min-width: 35px;
    height: 3vw;
    min-height: 35px;
    border-radius: 50px;
    background: var(--w);
    opacity: 0;
    cursor: pointer;
    display: flex;
}
.clickable{
    margin: auto;
}
.divPARA_IMG,.upArrow, .divClassTitle_IMG{
    width: 30px;
    height: auto;
    margin: auto;
}
.upArrow{
    width: 25px;
}
.actusDIVParadelete{
    margin: auto auto auto 1em;
}
.actusDIVParalink{
    margin: auto 1em auto auto;
}
.actusDIVClass{
    min-width: 35px;
    min-height: 35px;
    background: var(--w);
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: var(--border4);
    top: 0;
    right: 0;
    opacity: 1;
    display: flex;
}
.imgContainer{position: relative}
.actusIMG{
    width: 8vw;
    height: 8vw;
    border: 2px solid var(--w_op);
    object-fit: cover;
    border-radius: var(--border4);
}
.actusTitle{
    font-size: var(--font1);
    color: var(--b_sec);
    font-weight: bold;
}
.content_collapsibleContainer{
    display: flex;
}
.content_collapsibleContainer .asset{
    width: 20%;
    display: flex;
    align-items: center;
    /*gap: var(--gap2);*/
    justify-content: flex-end;
}
.content_collapsibleContainer .asset a{
    text-decoration: none;
    color: inherit;
}
.content_collapsibleContainer .asset i{
    font-size: var(--font1_2);
    padding: var(--padd2);
    cursor: pointer;
    color: var(--b) !important;
    transition: var(--transition3);
    border-radius: var(--border4);
}
.content_collapsibleContainer .asset i:hover{
    background: var(--w);
    transition: var(--transition3);
}
.actusDescription{
    font-size: 1em;
    font-weight: inherit;
    color: var(--b);
    width: 80%;
    grid-column: span 2 ;
}
.actusDate{
    color: var(--blue);
    display: flex;
    align-items: center;
    font-size: var(--font_tooltip);
}

.collapsible{padding:0}
.collapsible li{list-style: none}

.collapsible-header{
    display: -webkit-box;
    height: auto;
    font-size: 1.1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 1rem;
    gap: var(--gap2);
    align-items: center;
    display: flex;
    border: 2px solid grey;
    margin: 0 0 1em 0;
    align-content: center;
    -webkit-align-content: center;
    grid-auto-flow: column;
    -moz-transition: var(--transition1);
    -webkit-transition: var(--transition1);
    list-style-type: none;
    color: var(--td_color_grey);
    border-radius: var(--border1);
    transition: 0.2s;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
}


.collapsible li{margin: 0!important;}

.collapsible-body {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: justify;
    margin: 0;
    border: 2px solid grey;
    padding: var(--padd1);
    background: var(--w_op);
    border-radius:var(--border1);
    -webkit-border-radius:var(--border1);
    -moz-border-radius:var(--border1);

}
.collapsible_div_bodyContent{
    gap: .5em;
    background: var(--w);
    display: flex;
    flex-direction: column;
    /*border: 2px dashed var(--grey2)!important;*/
    border: 1px solid var(--grey2)!important;
    border-radius: var(--border1);
}
.collapsible-body span:hover::before {
    transform: scaleX(0);
    transform-origin: bottom left;

    -webkit-transform: scale(0);
    -webkit-transform-origin: bottom left;

    -moz-transform: scale(0);
    -moz-transform-origin: bottom left;
}
.showNews{
    border: 2px solid var(--b);
}